/* font-family: "Montserrat", sans-serif;
font-family: "Playfair Display", serif;
font-family: "Roboto", sans-serif; */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  margin: 0 auto;
}

.testBorder {
  /* border: 2px solid rgba(255, 0, 0, 0.169); */
  outline: 2px solid rgba(255, 0, 0, 0.169);
}

.mainWrapper {
  background-color: #ffffff;
  position: relative;
  z-index: 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

li a {
  text-decoration: none;
}



.react-datepicker__input-container .date_input {
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 800;
  text-align: center;
  width: 90%;
  margin-left: 5%;
}
